.Rproj.user
.Rhistory
.RData
.Ruserdata
README.html
Comments_and_ideas.rtf
02_Slides/20_Figures/
02_Slides/21_Keynote/
02_Slides/22_Keynote_archive/
03_Scripts/20_Scripts_PDF/
03_Scripts/30_Extras_archive/
04_Scripts_participants/00_Scripts_raw/
00_Admin/
08_Course_evaluation/
03b_Scripts_demonstration
