01_Data_raw
my_table.csv
airquality_new.csv
airquality2.csv
airquality.rds
airquality.csv
temperature_data.rds
tree_growth_data_video.xlsx
tree_growth_data_orig.csv
long_table.rds
tree_growth_2.rds
tree_growth_new.csv
